.todoItem {
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 14px;
    display: grid;
    grid-template-areas: " a b c";
    grid-template-columns: .3fr 1fr .3fr;
    height: auto;
    justify-content: space-around;
    margin-top: 6px;
    max-width: 400px;
    position: relative;
    text-align: center;
    width: 100%;
    align-self: center;
}
.todoItem:hover{
    background-color: rgb(255, 255, 255,0.1);
}
.todo-text-container {
    display: block;
    grid-area: b;
    height: auto;
    overflow: hidden;
}
.todoItem-p{
    font-size: var(--font-size-regular);
    font-style: var(--font-style);
    max-width: 100%;
    overflow-wrap: break-word;
}


.todoItem-p--complete{
   text-decoration: line-through;
}


@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.todoItem {
    view-timeline-name:--item ;
    view-timeline-axis: block;
    animation-timeline: --item;
    animation-name:show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode:both;
}

