.list-contain {
    align-items: center;
    align-self: start;
    display: flex;
    grid-row: 3 / 4;
    height: auto;
    justify-content: center;
    justify-self: center;
    margin: 24px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 400px;
}
.list-contain .list-contain-order{
    list-style: none;
    width: 100%;
    padding: 5px;
}