
.icon-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width:26px ;
    height: 26px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}


.icon-container-check{
    left: 20px;

}
.icon-container-delete{
    right: 15px;
    top: 0px;
 
}

.icon{
    width: 96%;
    height: 96%;
    border-radius: 10px;
}
.icon-container-check:hover{
    background-color: rgba(4, 151, 29, .3)
}

.icon-container-delete .icon:hover{
    background-color: rgba(151, 4, 4, .3)
}

.icon-container-edit{
    right: 0;
    bottom: 0;
}
 
.icon-container-edit:hover{
    /* background-color: #b3dbe68e; */
   transform: scale(1.1);
}
