.contain-central {
    align-items: center;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    height: 500px;
    width: 70%;
    padding: 20px 25px 30px;
    overflow: hidden;
}

@media (min-width:500px) {
    .contain-central{
        width: 60%;
    }
}
@media (min-width:900px) {
    .contain-central{
        width: 40%;
    }
}
@media (min-width:1200px) {
    .contain-central{
        width: 30%;
    }
}
