.counter-title{
    font-size: var(--font-size-large);
    font-weight: var(--font-light);
    text-align: center;
    margin: 0;
    padding: 35px;
}
.counter-title span{
    font-weight: var(--font-bold);
}