
.counter-container{
    display: flex;
    overflow-wrap: break-word;
     max-width: 280px;
     align-self: center;
     justify-self: center;
    }
.counter-title{
    font-size: var(--font-size-large);
    font-weight: var(--font-light);
    text-align: center;
    margin: 0;
    padding: 35px;
    max-height: 142px;
}

.counter-title span{
    font-weight: var(--font-bold);
}

@media (min-width:500px) {
    .counter-container {
        margin-bottom: 10px;
        max-height: 140px;
    }
    .counter-title{
        text-align: center;
        margin: 0;
        padding: 20px;

    }

}