.search-input{
    background:var(--white);
    border-radius: 5px;
    border: 2px solid var(--black);
    margin: 0;
    height: 40px;
    width: 240px;
    font-weight: var(--font-light);
    text-align: center;
    font-size: var(--font-size-small);
    box-shadow: 0px 5px 50px rgba(32,35,41,0.25);
    grid-row: 2 / 3;
    align-self: start;
    justify-self: center;
}



.search-input::placeholder{
    color:var(--gray);
    font-weight: 400;
}
.search-input:hover{
    border:2px solid var(--light-blue) ;
}
.search-input:focus::placeholder{
    color: var(--black);
}
.search-input:disabled{
    opacity: 40%;
}